parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$left_operand of function bcadd expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Major.php

		-
			message: '#^Parameter \#1 \$left_operand of function bcadd expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Minor.php

		-
			message: '#^Parameter \#1 \$left_operand of function bcadd expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Patch.php

		-
			message: '#^Strict comparison using \!\=\= between '''' and non\-empty\-string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Version.php

